// Colors
$base-green: #0f3916;
$white: #fff;
$bright-green: rgb(62, 174, 95);
$gray: #55595c;
$mint-green: #95C479;
$text-green: #a3b69c;
$orange: #EB7F36;

// Adaptive width
$desktop-width: 960px;
$tablet-width: 660px;
$mobile-width: 320px;

// Fonts
@font-face {
    font-family: "Biotif";
    src: url('../assets/fonts/biotif/Biotif-Light.ttf') format('TrueType');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url('../assets/fonts/biotif/Biotif-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url('../assets/fonts/biotif/Biotif-ExtraBold.ttf') format('TrueType');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Biotif";
    src: url('../assets/fonts/biotif/Biotif-LightItalic.ttf') format('TrueType');
    font-weight: normal;
    font-style: italic;
}